.hero.is-primary {
    background-color: #C3073f;
    color: #fff;
}

.rex {
    background-color:#f8e9a1;
}

.section{
    background-color:#1a1a1a;

}

.my_section{
    height: 362px;
    background-color:#1a1a1a;
}





